/* Terminal tweaks */
@define-color bg-grey #313131;
@define-color active #222;

TerminalWindow .notebook {
    border: 0;
    padding: 0;
    color: #fff;
    background-color: shade(@active, 1);
}

TerminalWindow .notebook tab:active {
    background-color: shade(@active, 1);
}

TerminalWindow .notebook tab {
    border-radius: 0px;
    padding: 4px;
    background-color: shade(@bg-grey, 1);
}
